<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>cmi</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>500</error-code>
    <location>/page-error/erro-500.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <display-name>AutorizacaoFilter</display-name>
    <filter-name>AutorizacaoFilter</filter-name>
    <filter-class>br.com.militao.cmi.controle.AutorizacaoFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutorizacaoFilter</filter-name>
    <url-pattern>/AutorizacaoFilter</url-pattern>
  </filter-mapping>
</web-app>